@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(to right, #4E2EF5, #902FF5);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 120px;
    color: white;
    font-size: 19px;
}
a{
    color: #9caaff;
}
header{
    padding-bottom: 30px;
}
main{
    justify-content: center;
}
@media screen and (max-width: 665px){
    .links{
        font-size: 16px;
    }
}
@media screen and (max-width: 1000px){
    .body{
        padding: 50px;
        font-size: 16px;
        font-family: sans-serif;
    }
}
a:hover{
    color: #c2caff;
}
