@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-image:linear-gradient(to left, rgb(81, 0, 128), rgb(118, 0, 197));
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
}
a{
    color: rgb(0, 0, 0);
}